.header{
    position: sticky;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 15px 15px 5px lightgray;
    margin-bottom: 20px;
    top:0;
    left:0;
    right: 0;
    z-index: 20;
    
}
