.article_display {
  margin-top: 150px !important;
  margin-bottom: 50px !important;
  width: 80% !important;
  border: 3px ridge;
  margin: auto;
  padding: 15px 15px;
  box-sizing: border-box;
  justify-content: center;
  font-size: 22px;
  overflow: hidden;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  background: rgb(223, 222, 222);
}

span.display_title {
  border-radius: 14px;
  font-size: 3.7rem;
  margin: auto;
  color: rgb(101, 137, 179);
  position: relative;
}
hr.title_divider {
  color: rgba(128, 128, 128, 0.103);
  border: 5px;
}
h6>i{
  color:rgb(78, 103, 146)
}
.article_page{
  background: rgb(224, 228, 231);
}
.article-content {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(88, 83, 83);
  padding: 15px 15px;
  width: 90%;
  
  position: relative;;
  line-height: 2;
}

@media screen and (max-width: 950px) {
  span.display_title {
    font-size: 1.12rem;
  }
  .article_display{
    width: 97% !important;
  }
}

